* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(44,66,191,1) 0%, rgba(42,79,191,1) 25%, rgba(27,101,166,1) 50%, rgba(33,101,191,1) 75%, rgba(21,143,191,1) 100%);
	min-height: 100vh;
    color: #fff;
}

::placeholder {
    color: rgb(71, 71, 71);
}


/*Intro screen*/
.intro-screen-box {
    display: flex;
    flex-flow: column;
}

.searcher {
    width: 100%;
    flex: 0 1 auto;
    position: absolute;
    display: flex;
    justify-content: center;
}

.searcher__form-control {
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.74);
    padding: 0.6em;
}

.welcome-title {
    flex: 1 1 auto;
}

.searcher__btn, .searcher__btn-back {
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(10px);
}

.searcher__btn:hover, .searcher__btn-back:hover {
    background-color: rgba(255, 255, 255, 0.521);
}

.fa-chevron-left {
    animation: left-arrow 1.2s infinite;
    position: relative;
}

@keyframes left-arrow {
    0% {left: 1%;opacity: 0;}
    50%{opacity: 3;}
    100% {left: -3%; opacity: 0;}
}

/*--Animated icon--*/
.welcome-title__icon {
    position: relative;
    display: inline-block;
    width: 12em;
    height: 10em;
    font-size: 0.7em; /* control icon size here */
    animation: icon 4s linear infinite;
  }
  
  .welcome-title__cloud {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 3.6875em;
    height: 3.6875em;
    margin: -1.84375em;
    background: currentColor;
    border-radius: 50%;
    box-shadow:
      -2.1875em 0.6875em 0 -0.6875em,
      2.0625em 0.9375em 0 -0.9375em,
      0 0 0 0.375em #fff,
      -2.1875em 0.6875em 0 -0.3125em #fff,
      2.0625em 0.9375em 0 -0.5625em #fff;
  }
  .welcome-title__cloud:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5em;
    display: block;
    width: 4.5625em;
    height: 1em;
    background: currentColor;
    box-shadow: 0 0.4375em 0 -0.0625em #fff;
  }
  .welcome-title__cloud:nth-child(2) {
    z-index: 0;
    background: #fff;
    box-shadow:
      -2.1875em 0.6875em 0 -0.6875em #fff,
      2.0625em 0.9375em 0 -0.9375em #fff,
      0 0 0 0.375em #fff,
      -2.1875em 0.6875em 0 -0.3125em #fff,
      2.0625em 0.9375em 0 -0.5625em #fff;
    opacity: 0.3;
    transform: scale(0.5) translate(6em, -3em);
    animation: cloud 4s linear infinite;
  }
  .welcome-title__cloud:nth-child(2):after { background: #fff; }

  @keyframes cloud {
    0% { opacity: 0; }
    50% { opacity: 0.3; }
    100% {
      opacity: 0;
      transform: scale(0.5) translate(-200%, -3em);
    }
  }
  @keyframes icon {
      0% {left: 5%;opacity: 0;}
      20% {opacity: 1;}
      60% {opacity: 1;}
      100% {left: -5%;opacity: 0;}
  }
/*-------------*/

/*----Todays weather----*/
.weather-by-hour__col {
    background-color: rgba(0, 0, 0, 0.1);
}

.next-5-days__row-bg {
    background-color: rgba(0, 0, 0, 0.1);
}

.next-5-days-mobile__col {
    background-color: rgba(0, 0, 0, 0.1);
}
/*----------------------*/

  
/*---Media queries---*/

/*---Ipad---*/
@media screen and (min-width: 768px) {
    .next-5-days__img {
        height: 50px;
    }
    .current-temperature {
        border-right: 1px solid #fff;
    }
    .current-stats__container {
        border-top: none !important;
        border-bottom: none !important;
    }
}

/*---Desktop---*/
@media screen and (min-width: 1024px) {
    .next-5-days__img {
        height: 90px;
    }
}
/*------*/